<div class="main_container">
    <div class="content">
        <app-etudiant class="maindiv"></app-etudiant>
        <app-specialite class="maindiv"></app-specialite>
    </div>
    <div class="content">
        <app-etudiantparis class="maindiv"></app-etudiantparis>
        <app-etudianthorsparis class="maindiv"></app-etudianthorsparis>
    </div>
    <div class="content_form">
        <app-form-specialite></app-form-specialite>
        <app-form-etudiant></app-form-etudiant>
    </div>
</div>
<app-footer></app-footer>

