.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.content_form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    min-height: 600px;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 5px 10px 5px;
}